    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CarX - car rental place good price</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="CarX" name="keywords">
    <meta content="CarX" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- Template Stylesheet -->
    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>
    <!-- Topbar Start -->
    <div class="container-fluid bg-dark py-3 px-lg-5 d-none d-lg-block">
        <div class="row">
            <div class="col-md-6 text-center text-lg-left mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body pr-3" href=""><i class="fa fa-phone-alt mr-2"></i>+0869344705</a>
                    <span class="text-body">|</span>
                    <a class="text-body px-3" href=""><i class="fa fa-envelope mr-2"></i>nctam.25032002@gmail.com</a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-right">
                <div class="d-inline-flex align-items-center">
                    <a class="text-body px-3" href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="text-body px-3" href="https://www.tiktok.com/search?q=bmw&t=1679826494582">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z" />
                        </svg>
                    </a>
                    <a class="text-body px-3" href="https://www.instagram.com/bmwm/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body pl-3" href="https://www.youtube.com/watch?v=_EM78lnEmTw&ab_channel=Autodaily.vn">
                        <i class="fab fa-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>  
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid position-relative nav-bar p-0">
        <div class="position-relative px-lg-5" style="z-index: 9;">
            <nav class="navbar navbar-expand-lg bg-secondary navbar-dark py-3 py-lg-0 pl-3 pl-lg-5">
                <a href="" class="navbar-brand">
                    <h1>
                        @Html.ActionLink("CarX", "Index", "Home", new { area = "" }, new { @class = "text-uppercase text-primary mb-1" })
                    </h1>
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-between px-3" id="navbarCollapse">
                    <div class="navbar-nav ml-auto py-0">
                        @Html.ActionLink("Trang chủ", "Index", "Home", new { area = "" }, new { @class = "nav-item nav-link " })
                        @Html.ActionLink("Giới thiệu", "About", "Home", new { area = "" }, new { @class = "nav-item  nav-link" })
                            
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle " data-toggle="dropdown">Đặt xe</a>
                            <div class="dropdown-menu rounded-0 m-0">
                                @Html.ActionLink("Danh sách xe", "Index", "Cars", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Điều khoản hợp đồng", "Booking", "Home", new { area = "" }, new { @class = "dropdown-item" })
                                @Html.ActionLink("Danh sách Dịch Vụ", "Detail", "Home", new { area = "" }, new { @class = "dropdown-item" })

                            </div>
                        </div>
                    </div>
                    @Html.Partial("_LoginPartial")
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
<div class="container body-content">
    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- Footer Start -->
    <div class="container-fluid bg-secondary py-5 px-sm-3 px-md-5" style="margin-top: 90px;">
        <div class="row pt-5">
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Liên hệ</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-white mr-3"></i>127, đường 30/4, phường Phú Hòa, tp.TDM</p>
                <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>0869344705</p>
                <p><i class="fa fa-envelope text-white mr-3"></i>nctam.25032002@gmail.com</p>
                <h6 class="text-uppercase text-white py-2">Follow Us</h6>
                <div class="d-flex justify-content-start">
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-dark btn-lg-square mr-2" href="https://www.tiktok.com/search?q=bmw&t=1679826494582">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                            <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3V0Z" />
                        </svg>
                    </a>
                    <a class="btn btn-lg btn-dark btn-lg-square" href="https://www.instagram.com/bmwm/"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">Car Gallery</h4>
                <div class="row mx-n1">
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="~/Content/Images/gallery-1.jpg" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="~/Content/Images/gallery-2.jpg" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="~/Content/Images/gallery-3.jpg" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="~/Content/Images/gallery-4.jpg" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="~/Content/Images/gallery-5.jpg" alt=""></a>
                    </div>
                    <div class="col-4 px-1 mb-2">
                        <a href=""><img class="w-100" src="~/Content/Images/gallery-6.jpg" alt=""></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-5">
                <h4 class="text-uppercase text-light mb-4">COO</h4>
                <div class="row mx-n1">
                    <div class="col-4 px-1 mb-2">
                        <a style="height:90px" href=""><img class="w-100" src="~/Content/Images/team-3.jpg" alt=""></a>
                    </div>
                    <div class="">
                        <p class="mb-2"><i class="fas fa-address-card text-white mr-3"></i>Nguyễn Chí Tâm</p>
                        <p class="mb-2"><i class="fa fa-phone-alt text-white mr-3"></i>0869344705</p>
                    </div>
                </div>
            </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h4 class="text-uppercase text-light mb-4">Đặt xe ngay</h4>
                    <p class="mb-4">Tự do khám phá thế giới cùng dịch vụ cho thuê xe của chúng tôi!</p>
                    <div class="w-100 mb-3">
                        <div class="input-group">
                            <div class="input-group-append">
                                    @Html.ActionLink("Đăng kí ngay", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink",@class = "btn btn-primary text-uppercase px-3" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="container-fluid bg-dark py-4 px-sm-3 px-md-5">
        <p class="mb-2 text-center text-body">&copy; <a href="#">Sự lựa chọn của bạn</a>. Là động lực của chúng tôi.</p>
        <p class="m-0 text-center text-body">Designed by <a href="">nhóm 7</a></p>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</div>
</body>
</html>
